<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.husen.demo.shiro.dao.SysPermissionsMapper">
  <resultMap id="BaseResultMap" type="pers.husen.demo.shiro.po.SysPermissions">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="permission" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="available" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_permissions
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="pers.husen.demo.shiro.po.SysPermissions">
    insert into sys_permissions (id, permission, description, 
      available)
    values (#{id,jdbcType=BIGINT}, #{permission,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{available,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="pers.husen.demo.shiro.po.SysPermissions">
    update sys_permissions
    set permission = #{permission,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      available = #{available,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, permission, description, available
    from sys_permissions
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, permission, description, available
    from sys_permissions
    order by user_id ASC,userCreateDate DESC
  </select>
</mapper>