<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.husen.demo.shiro.dao.SysRolesPermissionsMapper">
  <resultMap id="BaseResultMap" type="pers.husen.demo.shiro.po.SysRolesPermissions">
    <constructor>
      <idArg column="role_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <idArg column="permission_id" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from sys_roles_permissions
    where role_id = #{roleId,jdbcType=BIGINT}
      and permission_id = #{permissionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="pers.husen.demo.shiro.po.SysRolesPermissions">
    insert into sys_roles_permissions (role_id, permission_id)
    values (#{roleId,jdbcType=BIGINT}, #{permissionId,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_id, permission_id
    from sys_roles_permissions
    order by user_id ASC,userCreateDate DESC
  </select>
</mapper>