<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 数据库连接池 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://rm-wz9lp2i9322g0n06zvo.mysql.rds.aliyuncs.com:3306/shiro?useSSL=true" />
		<property name="username" value="webuser" />
		<property name="password" value="123456" />
	</bean>

	<!-- Base DAO -->
	<bean id="baseDao" abstract="true">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- DAO -->
	<bean id="permissionDao" class="pers.husen.demo.shiro.dao.impl.PermissionDaoImpl" parent="baseDao" />
	<bean id="roleDao" class="pers.husen.demo.shiro.dao.impl.RoleDaoImpl" parent="baseDao" />
	<bean id="userDao" class="pers.husen.demo.shiro.dao.impl.UserDaoImpl" parent="baseDao" />

	<!-- Service -->
	<bean id="permissionService" class="pers.husen.demo.shiro.service.impl.PermissionServiceImpl">
		<property name="permissionDao" ref="permissionDao" />
	</bean>

	<bean id="roleService" class="pers.husen.demo.shiro.service.impl.RoleServiceImpl">
		<property name="roleDao" ref="roleDao" />
	</bean>

	<bean id="passwordHelper" class="pers.husen.demo.shiro.utils.PasswordHelper">
		<property name="algorithmName" value="md5" />
		<property name="hashIterations" value="2" />
	</bean>

	<bean id="userService" class="pers.husen.demo.shiro.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao" />
		<property name="passwordHelper" ref="passwordHelper" />
	</bean>
</beans>